language: generic
sudo: required
services:
    - docker
before_install:
    - docker build -t elie91/client-test -f ./client/Dockerfile.dev ./client
script:
    - docker run -e CI=true elie91/client-test npm test
after_success: 
    - docker build -t elie91/multi-client ./client
    - docker build -t elie91/multi-api ./api
    - docker build -t elie91/multi-worker ./worker
    - docker build -t elie91/multi-nginx ./nginx
    # log in to the docker CLI; display the password and added in the stdin for the next command
    # and we tell to docker to retrieve the password for the stdin
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
    # push those images to docker hub
    - docker push elie91/multi-client
    - docker push elie91/multi-api
    - docker push elie91/multi-worker
    - docker push elie91/multi-nginx