version: '3.8'
services: 
    
    postgres:
        image: 'postgres:12-alpine'
        environment:
            - POSTGRES_PASSWORD=postgres_password
    
    redis:
        image: 'redis:latest'

    nginx:
        restart: always
        build: 
            dockerfile: Dockerfile.dev
            context: ./nginx
        ports:
            - '3050:80'
    
    api:
        build: 
            dockerfile: Dockerfile.dev
            context: ./server
        volumes:
            #no override for the node_modules folder
            - /app/node_modules
            - ./server:/app
        environment: 
            - REDIS_HOST=redis
            - REDIS_PORT=6379
            - PGUSER=postgres
            - PGHOST=postgres
            - PGDATABASE=postgres
            - PGPASSWORD=postgres_password
            - PGPORT=5432
        depends_on:
            - postgres

    client:
        build: 
            dockerfile: Dockerfile.dev
            context: ./client
        volumes:
            - /app/node_modules
            - ./client:/app
        stdin_open: true

    worker:
        build: 
            dockerfile: Dockerfile.dev
            context: ./worker
        volumes:
            - /app/node_modules
            - ./worker:/app
        environment:
            - REDIS_HOST=redis
            - REDIS_PORT=6379